* {
    border: none;
    border-radius: 0px;
    font-family: "Mononoki Nerd Font";
    font-size: 21px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    border-bottom: 1px solid #282828;
    color: #f4d9e1
}

#workspaces {
    margin: 5px 5px 5px 5px;
    padding: 0px 5px 0px 5px;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: #928374;
}

#workspaces button.active {
    color: #f4d9e1;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: #E6B9C6;
    color: black;
    border-radius: 16px;
}
